
body {
    background-color: #f8f8f8;
    font-family: sans-serif;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
#task_management_app {
    padding: 20px;
    margin: auto;
    width: 500px;
    background-color: #efefef;
    border-radius: 5px;
    margin-top: 100px;
}
h1 {
    font-size: 24px;
    font-weight: bold;
}
.options {
    padding: 20px;
}
.options input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #e5e5e5;
}
.options button {
    padding: 10px;
    background-color: #3b9f3b;
    color: #ffffff;
    border: none;
    font-weight: bold;
    font-size: 16px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}
.options button:hover {
    background-color: #2b8e2b;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  th, td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
  }
  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  